extends layout
block content
    div(id="page-container", class="AppContent main-wrapper container")
        include ./includes/navbar.jade
        div(class="row clearfix")
            div(class="col-md-8 column")
                div(class="row clearfix book-data")
                    div(class="col-md-3 column")
                        div(class="mainImage")
                            img(src="#{book.imageUrl}")
                    div(class="col-md-9 column")
                        div(class="row clearfix")
                            div(class="col-md-12 column")
                                h3 #{book.name}
                        div(class="row clearfix")
                            div(class="col-md-6 column")
                                div
                                    strong Author -
                                    |#{book.authorName}
                                div
                                    strong Publisher -
                                    |#{book.publisher}
                                div
                                    strong Year-
                                    |#{book.publishedYear}
                                div
                                    strong ISBN -
                                    |#{book.isbn}
                                div
                                    strong ISBN13 -
                                    |#{book.isbn13}
                            include ./includes/fb_page_rec
                            div(class="col-md-6 column")
                                - if(book.bookType && (book.bookType === "WISH")) {
                                    - if(book.additionalProperties != null && book.additionalProperties.recommendations.length > 0) {
                                        - var grRecommendations = book.additionalProperties.recommendations
                                        - console.log(JSON.stringify(grRecommendations) + "of length" + grRecommendations.length)
                                        - var n = grRecommendations.length - 1;
                                        - if(n >= 0) {
                                            div(class="engagement-card")
                                                - var isFriendExists = grRecommendations[n].friendId
                                                    div(class="engagement-body-left")
                                                        a(href="#")
                                                            img(src="#{grRecommendations[n].friendImageUrl}", class="book-image", id="rec-friend-img-#{grRecommendations[n].friendGoodreadsId}")
                                                    div(class="engagement-body-right")
                                                        a(href="#", class="book-name")
                                                            h3 #{grRecommendations[n].friendName}
                                                        br
                                                        - if(!isFriendExists) {
                                                            button(class="btn-primary btn fbLikePopUp", data-friend-grId="#{grRecommendations[n].friendGoodreadsId}", data-toggle="modal", data-target=".bs-fbpage-modal-lg")
                                                                |Ask for borrowing
                                                        - } else {
                                                            button(class="btn-primary btn",  data-friend-id="#{grRecommendations[n].friendId}", data-toggle="modal", data-target="#borrow-book-#{grRecommendations[n].friendId}")
                                                                |Ask for borrowing
                                                            div(class="modal fade bs-fbpage-modal-lg", id="borrow-book-#{grRecommendations[n].friendId}", tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel", aria-hidden="true")
                                                                div(class="modal-dialog modal-lg")
                                                                    div(class="modal-content")
                                                                        div(class="modal-header")
                                                                            button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                                                                                span(aria-hidden="true")
                                                                                    |×
                                                                            h4(class="modal-title" id="myLargeModalLabel")
                                                                                |Borrow Book
                                                                        div(class="modal-body")
                                                                            div( class="row clearfix")
                                                                                div( class="col-md-12 column")
                                                                                    div( class="row clearfix")
                                                                                        div( class="col-md-6 column")
                                                                                            div( class="row clearfix")
                                                                                                div( class="col-md-8 column")
                                                                                                    div(class="row clearfix")
                                                                                                        div(class="col-md-12 column")
                                                                                                            h3 #{grRecommendations[n].friendName}
                                                                                                div( class="col-md-4 column")
                                                                                                    div(class="row clearfix")
                                                                                                        div(class="col-md-12 column")
                                                                                                            img(src="#{grRecommendations[n].friendImageUrl}", class="mainImage")
                                                                                        div( class="col-md-6 column")
                                                                                            div( class="row clearfix")
                                                                                                div( class="col-md-4 column")
                                                                                                    div(class="row clearfix")
                                                                                                        div(class="col-md-12 column mainImage")
                                                                                                            img(src="#{book.imageUrl}")
                                                                                                div( class="col-md-8 column")
                                                                                                    div(class="row clearfix")
                                                                                                        div(class="col-md-12 column")
                                                                                                            h3 #{book.name}
                                                                                    div( class="row clearfix")
                                                                                        div( class="col-md-12 column")
                                                                                            form(role="form", action="#", )
                                                                                                div( class="form-group")
                                                                                                    input(type="hidden", id="book-borrow-id-#{grRecommendations[n].friendId}",value="#{book.id}")
                                                                                                    input(type="hidden", id="book-borrow-owner-id-#{grRecommendations[n].friendId}",value="#{grRecommendations[n].friendId}")

                                                                                                    input(type="text", class="form-control", id="book-borrow-no-days-#{grRecommendations[n].friendId}")
                                                                                                    button(type="submit", class="btn btn-default", id="book-borrow-init-#{grRecommendations[n].friendId}") Submit
                                                                                                script
                                                                                                    $('#book-borrow-init-#{grRecommendations[n].friendId}').click(function(event){ event.preventDefault();var posting = $.post('/api/books/#{book.id}/owner/#{grRecommendations[n].friendId}/initBorrow',"application/json");posting.done(function(data){$('#borrow-book-#{grRecommendations[n].friendId}').modal('hide'); $().toastmessage('showSuccessToast', 'Borrow req sent successfully.');})});
                                                        - }
                                        - }
                                    - }
                                -}
                div(class="row clearfix")
                    div(class="col-md-12 column")
                        p #{book.description}
                    div(class="col-md-12 column")
                        - if(book.bookType && (book.bookType === "WISH")) {
                            - if(book.additionalProperties != null && book.additionalProperties.recommendations.length > 0) {
                                - var grRecommendations = book.additionalProperties.recommendations
                                - console.log(JSON.stringify(grRecommendations) + "of length" + grRecommendations.length)
                                - var n = grRecommendations.length - 2;
                                h3 Recommendations
                                - while(n >= 0) {
                                    div(class="engagement-card")
                                        - var isFriendExists = grRecommendations[n].friendId
                                            div(class="engagement-body-left")
                                                a(href="#")
                                                    img(src="#{grRecommendations[n].friendImageUrl}", class="book-image", id="rec-friend-img-#{grRecommendations[n].friendGoodreadsId}")
                                            div(class="engagement-body-right")
                                                a(href="#", class="book-name")
                                                    h3 #{grRecommendations[n].friendName}
                                                br
                                                - if(!isFriendExists) {
                                                    button(class="btn-primary btn fbLikePopUp", data-friend-grId="#{grRecommendations[n].friendGoodreadsId}", data-toggle="modal", data-target=".bs-fbpage-modal-lg")
                                                        |Ask for borrowing
                                                - } else {
                                                    button(class="btn-primary btn", data-friend-grId="#{grRecommendations[n].friendId}")
                                                        |Ask for borrowing
                                                - }
                                    - n--;
                                - }
                            - }
                            -}    
            div(class="col-md-4 column")
                        
                