div(class="Grid-cell u-mb10")
    div(class="js-stream-item")
        div(class="ProfileCard js-actionable-user")
            a(class="ProfileCard-bg js-nav", href="#")
            div(class="ProfileCard-content")
                a(class="ProfileCard-avatarLink js-nav js-tooltip", href="/users/#{temp_user.id}")
                    img(class="ProfileCard-avatarImage js-action-profile-avatar", src="#{temp_user.profileImageUrl}", style="width:100px; height:100px;")
                - if(temp_user.userRelation){

                - } else {
                    - if(user_unit_action && user_unit_action === 'member') {
                        button(class="js-add-member btn btn-primary pull-right", data-target="#{temp_user.id}", data-target-group="#{groupId}", id="add-member-group-#{temp_user.id}")
                            span Add Member
                        script
                            $("#add-member-group-#{temp_user.id}").click(function(event){var posting = $.post('/api/group/#{groupId}/user/#{temp_user.id}'); posting.done(function(data){console.log(data + "posted")})})
                    - } else {
                        button(class="btn btn-primary pull-right js-add-friend", data-target="#{temp_user.id}", id="add-friend-#{temp_user.id}")
                            span Add Friend
                        script
                            $("#add-friend-#{temp_user.id}").click(function(event){var posting = $.post('/api/users/#{temp_user.id}/friend'); posting.done(function(data){console.log(data + "posted")})});
                    - }
                - }
                div(class="ProfileCard-userFields")
                    div(class="ProfileNameTruncated")
                        div(class="u-textTruncate u-inlineBlock")
                            a(class="ProfileNameTruncated-link u-textInheritColor", href="/users/#{temp_user.id}") #{temp_user.name}