div(class="column col-md-12 row")
    div(id="book-actions-#{book.id}")
        div(class="btn-group")
            button(type="button", class="btn btn-default")
                i(class="glyphicon glyphicon-ok") 
                |Wishlist
            button(type="button", class="btn dropdown-toggle", data-toggle="dropdown", data-section="book-actions-#{book.id}", aria-haspopup="true", aria-expanded="false")
                span(class="caret")
                span(class="sr-only") Toggle Dropdown
            ul(class="dropdown-menu", role="menu")
                li
                    a(href="#", class="js-read-and-own", data-target="#{book.id}", id-type="id") Read and own
                li
                    a(href="#", class="js-read", data-target="#{book.id}", id-type="id") Read, dont have
                li
                    a(href="#", class="js-own", data-target="#{book.id}", id-type="id") Own, not read yet
                
                li(class="divider")
                    
                li
                    a(href="#", class="js-wish-remove", data-target="#{book.id}", id-type="id") Remove from wishlist    

                li(class="divider")
                li
                    a(href="#", class="js-donate", data-target="#{book.goodreadsId}", id-type="grId") Want to donate
                li
                    a(href="#", class="js-donate", data-target="#{book.goodreadsId}", id-type="grId") Want to Sell
    - if(book.wishlistBookDetails) {
        div(class="column col-md-12 row")
            div(class="wishlist-books-rec-link pull-pull-right")
            - var rec_count = 0;
            - if(book.wishlistBookDetails.users)
                - rec_count += book.wishlistBookDetails.users.length
            - if(book.wishlistBookDetails.groupsWithMembers)
                - rec_count += book.wishlistBookDetails.groupsWithMembers.length
            - if(rec_count > 0){
                a(href="#", class="", data-toggle="modal", data-target="#book-wishlist-rec-#{book.id}") #{rec_count} recomendation
             - var rec_action = "wish"
            include ../../user/modals/recommendations
            -}   
    - }