div(class="Grid-cell u-mb10")
    div(class="js-stream-item")
        div(class="ProfileCard ProfileCard-book js-actionable-user")
            div(class="ProfileCard-content")
                div(class="row clearfix")
                    - var book_url = book.id != null ? "/books/" + book.id : "/books/" + book.goodreadsId + "/grId"
                    - var book_image_url = book.imageUrl != null ? book.imageUrl : "/images/book.png"
                    div(class="col-md-5 column")
                        a(class="ProfileCard-avatarLink book-profile-avatar js-nav js-tooltip", href="#{book_url}")
                            img(class="ProfileCard-avatarImage js-action-profile-avatar", src="#{book_image_url}")
                    div(class="col-md-7 column row")
                        div(class="ProfileCard-userFields")
                            div(class="bookname")
                                div(class="u-inlineBlock name3lineMax")
                                    - if(book.id){
                                    a(class="ProfileNameTruncated-link u-textInheritColor", href="/books/#{book.id}") #{book.name}
                                    - } else {
                                    a(class="ProfileNameTruncated-link u-textInheritColor", href="/books/#{book.goodreadsId}/grId") #{book.name}
                                    - }
                        div(class="ProfileCard-screenname u-dir")
                            a(href="#", class="ProfileCard-screennameLink u-linkComplex js-nav u-textTruncate u-inlineBlock")
                                span by - #{book.authorName}         
                        - if(book.bookType) {
                         div(class="row clearfix")
                            include ./book_type_info
                        - } else {
                            - if(book.id){
                            div(class="row clearfix")
                                div(id="book-actions-#{book.id}")
                                    div(class="col-md-12")
                                        div(class="btn-group")
                                            button(type="button", class="addwishlist-btn btn btn-default", data-target="#{book.id}",data-section="book-actions-#{book.id}", id-type="id")
                                                span Add wishlist
                                            button(type="button", class="btn dropdown-toggle", data-toggle="dropdown", data-section="book-actions-#{book.id}", aria-haspopup="true", aria-expanded="false")
                                                span(class="caret")
                                                span(class="sr-only") Toggle Dropdown
                                            ul(class="dropdown-menu", role="menu")
                                                li
                                                    a(href="#", class="js-read-and-own", data-target="#{book.id}", id-type="id") Read and own
                                                li
                                                    a(href="#", class="js-read", data-target="#{book.id}", id-type="id") Read, dont have
                                                li
                                                    a(href="#", class="js-own", data-target="#{book.id}", id-type="id") Own, not read yet

                                                li(class="divider")
                                                li
                                                    a(href="#", class="js-donate", data-target="#{book.goodreadsId}", id-type="grId") Want to donate
                                                li
                                                    a(href="#", class="js-donate", data-target="#{book.goodreadsId}", id-type="grId") Want to Sell
                            - } else {
                            div(class="row clearfix")
                                div(id="book-actions-#{book.goodreadsId}")
                                    div(class="col-md-12")
                                        div(class="btn-group")
                                            button(type="button", data-target="#{book.goodreadsId}" class="addwishlist-btn btn btn-default", data-section="book-actions-#{book.goodreadsId}", id-type="grId")
                                                span Add wishlist
                                            button(type="button", class="btn dropdown-toggle", data-toggle="dropdown", data-section="book-actions-#{book.id}", aria-haspopup="true", aria-expanded="false")
                                                span(class="caret")
                                                span(class="sr-only")
                                            ul(class="dropdown-menu", role="menu")
                                                li
                                                    a(href="#", class="js-read-and-own", data-target="#{book.goodreadsId}", id-type="grId") Read and own
                                                li
                                                    a(href="#", class="js-read", data-target="#{book.goodreadsId}", id-type="grId") Read, not own
                                                li
                                                    a(href="#", class="js-own", data-target="#{book.goodreadsId}", id-type="grId") Own, not read
                                                li(class="divider")
                                                li
                                                    a(href="#", class="js-donate", data-target="#{book.goodreadsId}", id-type="grId") Want to donate
                                                li
                                                    a(href="#", class="js-donate", data-target="#{book.goodreadsId}", id-type="grId") Want to Sell
                            - }
                        - }
                        